build/
install/
log/
.vscode/
__pycache__/
*.ipynb_checkpoints/
.env/
*.onnx
*.onnx.data
*.engine
*dataset
src/Data/
**/*.pt
**/eval_out/
**/label_check/
**/speed.py
**/eval_sim_out/
**/check_labels_sim.py
**/check_labels.py
**/eval_out/
**/label_check_sim/
