<?xml version="1.0"?>
<robot name="solo">
  <!-- <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="51.3841528437006" />
      <inertia ixx="3.81718679834589" ixy="0.0496729532697476" ixz="-0.508390617998127"
        iyy="5.59589156103865" iyz="-0.0198793511210422" izz="4.66966276048357" />
    </inertial>
    <visual name="base_link_visual">
      <origin xyz="0 0 0" rpy="1.57 0 0" />
      <geometry>
        <mesh filename="/home/karthikeya/sim_ws/src/steve_description/meshes/steve.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision name="base_link_collision">
      <origin xyz="0 0 0" rpy="1.57 0 0" />
      <geometry>
        <mesh filename="/home/karthikeya/sim_ws/src/steve_description/meshes/steve.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link> -->
  <link name="motor_housing_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="3.81718679834589" ixy="0.0496729532697476" ixz="-0.508390617998127"
        iyy="5.59589156103865" iyz="-0.0198793511210422" izz="4.66966276048357" />
    </inertial>
    <visual name="motor_housing_link_visual">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/karthikeya/sim_ws/src/steve_description/meshes/Motor_Housing.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision name="motor_housing_link_collision">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="/home/karthikeya/sim_ws/src/steve_description/meshes/Motor_Housing.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
</robot>